@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.attractions {
	margin-bottom: 100px;
	&__subtitle {
		font-size: 18px;
	}
	&__info {
		@include flex();
		flex-direction: column;
		gap: 15px;
		margin-bottom: 30px;
	}
	.categories {
		display: flex;
		gap: 15px;
		.active {
			background-color: #878787;
		}
		button {
			cursor: pointer;
			transition: all 0.5s ease;

			&:hover {
				background-color: #878787;
				padding: 5px 10px;
				border-radius: 5px;
			}
		}
	}
}
.h3-title {
	font-weight: 600;
	font-size: 22px;
}
.attractions__cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	gap: 20px;
	align-items: start;

	.card {
		@include flex();
		cursor: pointer;

		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;

		img {
			height: 326px;
		}
		&__price {
			color: $dark-red;
			font-size: 15px;
			font-weight: 600;
			background-color: transparent;
			border-radius: 50%;
			border: 1px solid $dark-red;
			padding: 26px 11px;
		}
	}
}
