// COLORS
$red-color: #e73e58;
$dark-red: #e01a33;
$black-color: #000;
$white-color: #fff;
$gray-color: #666666;
$section-color: #444444;
$pink-color: #eb5b71;
$darker-color: #3a3a3a;
$cod-gray: #181818;
$alto: #d1d1d1;
$darker-green: #272a2e;
$light-green: #90ee90;

$font-roboto-flex: 'Roboto Flex', sans-serif;
