.categories {
  display: flex;
  gap: 15px;

  .active {
    background-color: #878787;
  }

  button {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: #878787;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
